* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.container {
  max-width: 1600px;
  margin: auto;
}
nav {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1600px;
  margin: auto;
  padding: 16px 120px 16px 120px;
}

.nav-ul {
  display: flex;
  gap: 32px;
  list-style: none;
}

.nav-ul a {
  text-decoration: none;
  color: #000000;
  font-size: 16px;
  font-weight: 600;
}

#earlybtn {
  background-color: #30b868;
  border-radius: 4px;
  padding: 12.5px 16px;
  border: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
}
